.o-mpic img{
     object-fit: cover;
     width: 1400px;
     height: 950px;
     position: relative;
margin-top: -500px;
    }
.o-model{
  width: 1400px;
margin: auto;
padding-bottom: 30PX;
}
.o-mpic{
width: 100%;
height: auto;
position: relative;
}
.o-variety{
     width: 1460px;
display: grid;
grid-template-columns: repeat(3,1fr) ;
gap: 50px;
 margin: 40px auto;
top: 605px;

border-radius: 48px;


}

.o-item button {
    margin-top: 117px;
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
top: 908px;
margin-left: 100px;
 
}

.search-container {
top: 510px;
  position: absolute;
  justify-content: flex-end;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 2px 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  
}

.search-input {
  border: none;
  outline: none;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 10px;
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 4px;
}

.o-item button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 
}

.o-1variety img{
display: block;
margin-top: 80px;
object-fit: cover;
/* width: 3297px; */
/* height: 273px; */
width: 100%;
top: 605px;
left: 65px;
border-radius: 48px;
height: auto;
}
.o-2variety img{
display: block;
margin-top: 80px;
object-fit: cover;
width: 100%;
/* width: 3200px; */
/* height: 273px; */
top: 655px;
left: 521.09px;
border-radius: 48px;
height: auto;
margin-top: 10px;
}

.o-3variety img{
display: block;
margin-bottom: 80px;
margin-top: 140px;
/* width: 397px; */
/* height: 273px; */
top: 605px;
left: 978.16px;
border-radius: 48px;
width: 100%;
height: auto;
}
.o-4variety img{
display: block;
margin-top: 80px;
object-fit: cover;
/* width: 3200px; */
/* height: 273px; */
top: 1018.64px;
left: 65px;
border-radius: 48px;
width: 100%;
height: auto;
}


.o-5variety img{
display: block;
margin-top: 80px;
object-fit: cover;
width: 100%;
/* width: 2290px; */
/* height: 273px; */
top: 1018.64px;
left: 521.09px;
border-radius: 48px;
height: auto;
}
.o-6variety img{
display: block;
margin-top: 80px;
object-fit: cover;
width: 100%;
height: auto;
/* height: 273px; */
top: 1018.64px;
left: 978.16px;
border-radius: 48px;
margin-top: 30px;
}

.o-7variety img{
display: block;
margin-top: 80px;
object-fit: cover;
height: auto;
width: 100%;
/* height: 273px; */
top: 1432.27px;
left: 65px;
border-radius: 48px;

}

.o-8variety img{
    /* height: 200px; */
display: block;
margin-top: 80px;
object-fit: cover;
height: auto;
width: 100%;
/* width: 397px; */
/* height: 273px; */
top: 1432.27px;
left: 521.09px;
border-radius: 48px;

}

.o-9variety img{
    /* height: 200px; */
display: block;
margin-top: 80px;
object-fit: cover;
width: 100%;

/* width: 397px; */
/* height: 273px; */
top: 1432.27px;
left: 978.16px;
border-radius: 48px;
height: auto;
}

.o-2variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 120px;
 margin-top: -10.30px;
}
.o-1variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 140px;
 margin-top: 70px;
}
.o-3variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 150px;
 margin-top: 60px;
}
.o-4variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 30px;
}
.o-5variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 140px;
 margin-top: 60px;
}
.o-6variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 20px;
}
.o-7variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 20px;
}.o-8variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 20px;
}.o-9variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 20px;
}