*{
  margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
  overflow-x: hidden;
}
.navbar{
  background:linear-gradient(to right, #000000 50%, #622A9A);
  padding: 10px 20px;
height: 130px; 
display: flex;
align-items: center;

}


.navbar-content{
  width: 100%;
  max-width: 1440px;
  margin: 0%;

align-items: center;
color: aliceblue;
display: flex;
justify-content: space-between;
}


.title{
  width: 277px;
height: 23px;
top: 38px ;
left: 37px;
}


h1{
  font-family: 'Itim';
font-weight: 400;
font-size: 40px;
line-height: 7px;
letter-spacing:-1px;
text-align: center;

}
.links{
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 20px;
}

.links a{
color: white;
text-decoration: none;
font-size: 16px;
}






.bg{
  background-color: #000000;
  height: 170px;
  width: 100%;
}
.girl{
 
  width: 100%;
 background: 
  radial-gradient(circle at top center, #622A9A -20%, black 60%),
  linear-gradient(to right, black 50%, #622A9A 30%, #622A9A 70%, black 100%);

}

.pic{
display: flex;
justify-content: center;
align-items: center;

}
.pic img{
position: relative;
height: 650px;
width: 400px;
top: -150px;
object-fit: cover;
}

.t-h{
width: 339px;
height: 152px;


color: white;

}
.heading{

font-family: 'Inter';
font-weight: 500;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
position: absolute;
left: -156px;
top: 27.52px;
}
.t-p{
width: 460px;
height: 108px;
top: 621px;
left: 1006px;

}
.paragraph{
  font-family: Inter;
font-weight: 500;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
position: absolute;
left: -126px;
top: 147.52px;

}
.text{
justify-content: end;
position: absolute;
top: 330px;
right: -30px;
color: white;
}

.sun, .optical, .antirad {
  font-family: 'Itim', cursive;
  font-weight: 400;
  font-size: 20px;
  padding: 5px 20px;
  background-color: white;
  border: 1px solid #00000050;
  border-radius: 10px;
  cursor: pointer;
  
}

.category-buttons {
  display: flex;
  gap: 20px; 
  justify-content: center;
  margin-top: 40px;
}
.category-button {
  padding: 10px 26px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
    
}
.par{
 
  
  margin-top: 10px;
  font-family: 'Itim', cursive;
  font-size: 16px;
  color: #ffffff;
}
 .button{
  position: absolute;
  top: 570px;
  gap: 300px;
  cursor: pointer;

 }
.bgg
{
  background-color: #000000;
  height: 100%;
  width: 100%;


  

}
.head{
  color: #FFFFFF;
  font-size: 40px;
  right: 1050px;
  top: 750px;
}
.paa{
color: #FFFFFF;
  font-size: 15px;
justify-self:center;

  position: relative; 
  top: -100px;        
  left: 320px;        
  max-width: 600px;  

 }

.b{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #622A9A;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.25); 
  padding: 6px 15px;
  width: fit-content;
  height: auto;
}




.bb {
  cursor: pointer;
width: 105px;
height: 26px;
font-family: 'Inter';
font-weight: 400;
font-size: 14px;
line-height: 26px;
letter-spacing: -0.01%;
vertical-align: middle;
color: rgba(255, 255, 255, 1);

  border-radius: 10px;
  
white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bb:hover {
  background-color: #7A3FCB; 
  color: #ffffff;         
  transition: background-color 0.3s ease; 

}

.glasses{
  
  display: flex;
  justify-content:center ;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: nowrap;
margin-top: 60PX;
border-radius: 48px;
overflow-x: auto;
color: white;

}

 .card {
  width: 403px;
  height: auto;
  border-radius: 48px;
color: white;
  text-align: center;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  color: black;
  overflow: hidden;
  flex-shrink: 0;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 277px;
  border-radius: 48px;
  object-fit: cover;
}

.label {
  margin-top: 12px;
  font-size: 24px;
  color: #FFFFFF;
}
.upl {

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 25px;
  border: none;
  padding: 90px 10px;

 

}

.but{
  border:#000000;
   background: linear-gradient(to right, 
  #000000 20%,     
  #000000 5%,   
  #572b83 50%,     
  #000000 75%,     
  #000000 100%   
);
width: 100%;
  height: 110px;
color: #FFFFFF;
    border-radius: 15px;
  font-family: 'itim';
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: -40px;
}

.butt {
    background: none;
  height: 110px;

 background: linear-gradient(to right, 
  #000000 20%,     
  #000000 5%,   
  #572b83 50%,     
  #000000 75%,     
  #000000 100%  );
color: #FFFFFF;
    border-radius: 15px;
  width: 100%;
  font-family: 'itim';
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
 }


.but:hover {
  background-color: #a760f2;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}
.butt:hover{
 background-color: #8c51ca;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}
.but:focus, .butt:focus {
  outline: none;

  box-shadow: 0 0 0 3px rgba(172, 123, 220, 0.5);
}


.footer {
  background-color: black;
  color: white;
  padding: 40px 20px;
  font-family: sans-serif;
height: 600px;
}


.footer-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
    flex-direction: row;
    justify-content: space-between;
  }



.footer-left .h-f {
  font-size: 70px;
  font-weight: bold;
  width: 687px;
height: 77px;
top: 72px;
left: 44px;
font-family: 'Itim';
line-height: 17px;
letter-spacing: -0.5px;
text-align: left;

}



.footer-left .p-f {
  font-size: 14px;
  color: rgb(246, 243, 243);
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.footer-left .h-2 {
  margin-top: 8px;
  font-size: 28px;
  font-weight: 600;
}


.footer-center {
  display: flex;
 justify-content: space-between;
  gap: 40px;
  font-size: 19px;
flex-direction: row;
  
 
}

.footer-center .section {
  display: flex;
  flex-direction: column;
}



.location{
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction:row ;
}



.footer-center h4 {

 
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
}



.footer-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}


.footer-center li {
  margin-bottom: 5px;
  
}



.section {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 100PX;
}



.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 20px;
}


.footer-left{
  max-width: 50%;
}


.footer-center{
  display: flex;
  gap: 40px;
  font-size: 19px;
  margin-top: 40px; 
}



.footer-right{
   display: flex;
  justify-content: flex-end;
  flex: 1;
}


.lin{
  justify-content: space-between;
  align-items: center;
    padding: 30px 40px;

  width: 612px;
height: 37px;
color: rgba(255, 255, 255, 1);

}




.bott{
font-family: 'Inter';
font-weight: 400;
font-size: 24px;
line-height: 300px;
letter-spacing: 0%;
text-align: center;
display: flex;
justify-content: center;
gap: 60px;
margin-left: 50px;
flex: 1;
}


.bott a{
margin-right: 70px;
color: #FFFFFF;
text-decoration: none;
justify-content: center;
}


.bott {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.bott a {
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}



.social-icons {
  display: flex;
  margin-top: 110px;
  justify-content: flex-end;
  padding-right: 40px;
  font-size: 18px;
}

.social-icons a {
  display: flex;
font-size: 16px;
  align-items: center;
  color: white;
  text-decoration: none;
}

.o-buttonn{
  font-family: 'Itim', cursive;
  font-weight: 400;
  font-size: 20px;
  padding: 5px 20px;
  background-color: white;
  border: 1px solid #00000050;
  border-radius: 10px;
}

.o-button{
   display: flex;
  gap: 20px; 
  justify-content: center;
  margin-top: 40px;
  padding: 10px 26px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.obg{
  background-color: #b70e0e;
  height: 170px;
  width: 100%;
}
.girll{
 
  width: 100%;

}

.picc{
background: 
  radial-gradient(circle at top center, #622A9A -20%, black 60%),
  linear-gradient(to right, black 50%, #622A9A 30%, #622A9A 70%, black 100%);
}
.picc img{
position: relative;
height: 650px;
width: 400px;
top: -150px;
object-fit: cover;
}

.slide-panel {
  position: fixed;
  top: 0;
  right: -100%; /* hidden by default */
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999;
  transition: right 0.5s ease-in-out;
}

.slide-in {
  right: 0;
}

.slide-out {
  right: -100%;
}

.optical-content {
  padding: 20px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: #000;
  color: white;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
}
.o-mpic img{
     object-fit: cover;
     width: 1400px;
     height: 950px;
     position: relative;
margin-top: -500px;
    }
.o-model{
  width: 1400px;
margin: auto;
padding-bottom: 30PX;
}
.o-mpic{
width: 100%;
height: auto;
position: relative;
}
.o-variety{
     width: 1460px;
display: grid;
grid-template-columns: repeat(3,1fr) ;
gap: 50px;
 margin: 40px auto;
top: 605px;

border-radius: 48px;


}

.o-item button {
    margin-top: 117px;
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
top: 908px;
margin-left: 100px;
 
}

.search-container {
top: 510px;
  position: absolute;
  justify-content: flex-end;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 2px 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  
}

.search-input {
  border: none;
  outline: none;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 10px;
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 4px;
}

.o-item button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 
}

.o-1variety img{
display: block;
margin-top: 80px;
object-fit: cover;
/* width: 3297px; */
/* height: 273px; */
width: 100%;
top: 605px;
left: 65px;
border-radius: 48px;
height: auto;
}
.o-2variety img{
display: block;
margin-top: 80px;
object-fit: cover;
width: 100%;
/* width: 3200px; */
/* height: 273px; */
top: 655px;
left: 521.09px;
border-radius: 48px;
height: auto;
margin-top: 10px;
}

.o-3variety img{
display: block;
margin-bottom: 80px;
margin-top: 140px;
/* width: 397px; */
/* height: 273px; */
top: 605px;
left: 978.16px;
border-radius: 48px;
width: 100%;
height: auto;
}
.o-4variety img{
display: block;
margin-top: 80px;
object-fit: cover;
/* width: 3200px; */
/* height: 273px; */
top: 1018.64px;
left: 65px;
border-radius: 48px;
width: 100%;
height: auto;
}


.o-5variety img{
display: block;
margin-top: 80px;
object-fit: cover;
width: 100%;
/* width: 2290px; */
/* height: 273px; */
top: 1018.64px;
left: 521.09px;
border-radius: 48px;
height: auto;
}
.o-6variety img{
display: block;
margin-top: 80px;
object-fit: cover;
width: 100%;
height: auto;
/* height: 273px; */
top: 1018.64px;
left: 978.16px;
border-radius: 48px;
margin-top: 30px;
}

.o-7variety img{
display: block;
margin-top: 80px;
object-fit: cover;
height: auto;
width: 100%;
/* height: 273px; */
top: 1432.27px;
left: 65px;
border-radius: 48px;

}

.o-8variety img{
    /* height: 200px; */
display: block;
margin-top: 80px;
object-fit: cover;
height: auto;
width: 100%;
/* width: 397px; */
/* height: 273px; */
top: 1432.27px;
left: 521.09px;
border-radius: 48px;

}

.o-9variety img{
    /* height: 200px; */
display: block;
margin-top: 80px;
object-fit: cover;
width: 100%;

/* width: 397px; */
/* height: 273px; */
top: 1432.27px;
left: 978.16px;
border-radius: 48px;
height: auto;
}

.o-2variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 120px;
 margin-top: -10.30px;
}
.o-1variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 140px;
 margin-top: 70px;
}
.o-3variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 150px;
 margin-top: 60px;
}
.o-4variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 30px;
}
.o-5variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 140px;
 margin-top: 60px;
}
.o-6variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 20px;
}
.o-7variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 20px;
}.o-8variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 20px;
}.o-9variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 20px;
}


.s-model{
    object-fit: cover;
overflow: hidden;
}
.s-mpic{
 object-fit: cover;
    width: 1446px;
height: 947px;
left: -6px;
}
.s-mpic img{
     object-fit: cover;
    width: 1600px;
    overflow: hidden;
    object-position: top;
height: 900px;
margin-top: -350px;

}
.variety{
     width: 1400px;
display: grid;
grid-template-columns: repeat(3,1fr) ;
gap: 100px;
 margin: 40px auto;

}
.variety img{
    height: 150px;
display: block;
margin-top: 80px;
object-fit: cover;

}
.item button {
    margin-top: 117px;
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
top: 908px;
margin-left: 100px;
 
}
.items button {
margin-top: -18.15px;
    font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
top: 98px;
 margin-left: 100px;

}
.items img{

 height: 400px;
display: block;
margin-top: -50px;
object-fit: cover;
}

.itemss img{

 height: 250px;
display: block;
margin-top: 40px;
object-fit: cover;
}

.itemss button {
  margin-top: 50px;
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
top: 98px;
 margin-left: 100px;

}

.search-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 2px 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.search-input {
  border: none;
  outline: none;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 10px;
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 4px;
}

.a-mpic img{
     object-fit: cover;
     width: 1440px;
     height: 600px;
     position: relative;
margin-top: -30px;

    }


.a-model{
  width: 1440px;
padding-bottom: 30PX;
}


.a-mpic{
width: 1440px;
height: auto;
position: relative;
}


.a-variety{
     width: 1400px;
display: grid;
grid-template-columns: repeat(3,1fr) ;
gap: 50px;
 margin: 40px auto;
top: 605px;
border-radius: 48px;

}


.a-item button {
    margin-top: 117px;
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
top: 908px;
margin-left: 100px;
 
}


.search-container {
top: 40px;
  position: absolute;
  justify-content: flex-end;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 2px 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  
}


.search-input {
  border: none;
  outline: none;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 10px;
}


.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 4px;
}


.a-item button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 
}


.a-1variety img{
display: block;
margin-top: 80px;
object-fit: cover;
width: 100%;
top: 605px;
left: 65px;
border-radius: 48px;
height: auto;
}


.a-2variety img{
display: block;
object-fit: cover;
width: 100%;
left: 521.09px;
border-radius: 48px;
height: auto;
margin-top: 130px;
}


.a-3variety img{
display: block;
margin-bottom: 80px;
margin-top: 80px;
border-radius: 48px;
width: 100%;
height: auto;
}


.a-4variety img{
display: block;
margin-top: 20px;
object-fit: cover;
border-radius: 48px;
width: 100%;
height: auto;
}


.a-5variety img{
display: block;
margin-top: 10px;
object-fit: cover;
width: 100%;
border-radius: 48px;
height: auto;
}


.a-6variety img{
display: block;
margin-top: -70px;
object-fit: cover;
width: 100%;
height: auto;
border-radius: 48px;
margin-top: 90px;
}


.a-7variety img{
display: block;
margin-top: -10px;
object-fit: cover;
height: auto;
width: 100%;
top: 1432.27px;
left: 65px;
border-radius: 48px;

}


.a-8variety img{
display: block;
margin-top: 70px;
object-fit: cover;
height: auto;
width: 100%;
border-radius: 48px;

}


.a-9variety img{
display: block;
margin-top: -10px;
object-fit: cover;
width: 100%;
border-radius: 48px;
height: auto;
}


.a-2variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 120px;
 margin-top: 139.30px;
}


.a-1variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 140px;
 margin-top: 100px;
}


.a-3variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 150px;
 margin-top: -4px;
}


.a-4variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 20px;
}


.a-5variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 140px;
 margin-top: 30px;
}


.a-6variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 140px;
 margin-top: 120px;
}



.a-7variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: -3px;
}


.a-8variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 130px;
 margin-top: 65px;
}


.a-9variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 130px;
 margin-top: -20px;
}

.swiper {
  height: 100vh; /* ya jitni height chahiye */
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-mpic img{
     object-fit: cover;
     width: 1440px;
     height: 600px;
     position: relative;
margin-top: -30px;

    }


.a-model{
  width: 1440px;
padding-bottom: 30PX;
}


.a-mpic{
width: 1440px;
height: auto;
position: relative;
}


.a-variety{
     width: 1400px;
display: grid;
grid-template-columns: repeat(3,1fr) ;
gap: 50px;
 margin: 40px auto;
top: 605px;
border-radius: 48px;

}


.a-item button {
    margin-top: 117px;
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
top: 908px;
margin-left: 100px;
 
}


.search-container {
top: 40px;
  position: absolute;
  justify-content: flex-end;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 2px 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  
}


.search-input {
  border: none;
  outline: none;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 10px;
}


.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 4px;
}


.a-item button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 
}


.a-1variety img{
display: block;
margin-top: 80px;
object-fit: cover;
width: 100%;
top: 605px;
left: 65px;
border-radius: 48px;
height: auto;
}


.a-2variety img{
display: block;
object-fit: cover;
width: 100%;
left: 521.09px;
border-radius: 48px;
height: auto;
margin-top: 130px;
}


.a-3variety img{
display: block;
margin-bottom: 80px;
margin-top: 80px;
border-radius: 48px;
width: 100%;
height: auto;
}


.a-4variety img{
display: block;
margin-top: 20px;
object-fit: cover;
border-radius: 48px;
width: 100%;
height: auto;
}


.a-5variety img{
display: block;
margin-top: 10px;
object-fit: cover;
width: 100%;
border-radius: 48px;
height: auto;
}


.a-6variety img{
display: block;
margin-top: -70px;
object-fit: cover;
width: 100%;
height: auto;
border-radius: 48px;
margin-top: 90px;
}


.a-7variety img{
display: block;
margin-top: -10px;
object-fit: cover;
height: auto;
width: 100%;
top: 1432.27px;
left: 65px;
border-radius: 48px;

}


.a-8variety img{
display: block;
margin-top: 70px;
object-fit: cover;
height: auto;
width: 100%;
border-radius: 48px;

}


.a-9variety img{
display: block;
margin-top: -10px;
object-fit: cover;
width: 100%;
border-radius: 48px;
height: auto;
}


.a-2variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 120px;
 margin-top: 139.30px;
}


.a-1variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 140px;
 margin-top: 100px;
}


.a-3variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 150px;
 margin-top: -4px;
}


.a-4variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: 20px;
}


.a-5variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 140px;
 margin-top: 30px;
}


.a-6variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 140px;
 margin-top: 120px;
}



.a-7variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 100px;
 margin-top: -3px;
}


.a-8variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 130px;
 margin-top: 65px;
}


.a-9variety button {
  font-size: 16px;
  background: linear-gradient(to right, #7e22ce, #9333ea);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 162px;
height: 42px;
margin-left: 130px;
 margin-top: -20px;
}